aws_region          = "eu-central-1"
github_repo_url     = "https://github.com/DannyB2001/iot-secure-sentinel"
github_branch       = "main"
github_access_token = "github_pat_xxxxxxxxxxxxxxxxxxxx"
mongodb_uri         = "mongodb+srv://USER:PASS@cluster0.xxxxx.mongodb.net/iris?retryWrites=true&w=majority"
auth_secret         = "REPLACE_WITH_openssl_rand_base64_32_OUTPUT"
seed_admin_email    = "admin@iris.local"
seed_admin_password = "CHANGE_ME_AT_LEAST_12_CHARS"
seed_device_name    = "iris-gateway-prod"
seed_device_token   = "REPLACE_WITH_openssl_rand_hex_32_OUTPUT"
